.inner {
  margin: 0 auto 20px;
  max-width: var(--width);
}
.heading {
  color: var(--color-on-background);
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 5.2rem;
  margin: 1.6rem 0;
}
.wrap-product {
  border-radius: 1.6rem;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-surface-variant-outline);
  width: 100%;
  padding: 1.6rem;
  background-color: var(--color-background);
  animation: slideInRight ease 0.6s;
  margin-bottom: 16px;
}
.product-card {
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-tertiary);
  p {
    margin: 0;
  }

  + .product-card {
    margin-top: 16px;
  }
}

.title-card {
  font-weight: bold;
  color: var(--color-on-tertiary-container);
}
