.wrapper {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  + .wrapper {
    margin-left: 1.6rem;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 0.8rem;
}

.navigation {
  background-color: var(--color-background);
  font-size: 1.6rem;
  min-width: 7.5rem;
  min-height: 3.2rem;
  border-radius: 1.6rem;
  padding: 0.4rem, 1.6rem;
  font-weight: normal;

  &:hover {
    color: var(--color-primary);
  }
  &:active {
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
  }
}

.primary {
  background-color: var(--color-primary-container);
  font-size: 1.6rem;
  min-width: 9.1rem;
  min-height: 4rem;
  border-radius: 0.6rem;
  padding: 0.8rem, 2rem;
  font-weight: bold;
  box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: var(--color-hover-primary-container);
  }
  &:active {
    background-color: var(--color-pressed-primary-container);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }
}

.keepActive {
  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);
  &:hover {
    color: var(--color-on-primary-container);
  }
}
